@font-face {
  font-family: icomoon;
  font-style: normal;
  font-weight: 400;
  src:
    url(icomoon.ttf) format("truetype"),
    url(icomoon.woff) format("woff"),
    url(icomoon.svg) format("svg");
}